<div class="jumbotron m-2">
  <h1 class="display-4">Gabriel Mejía</h1>
  <p class="lead">Full Stack developer / Telecom. Engineer</p>
  <hr class="my-4">
  <p>Estudiante de Grado en Ingeniería en Sonido e Imagen en Telecomunicaciones, a falta de realizar el TFG,
    en la Universidad de Alicante, en la cual he fundado junto a mis compañeros la asociación AMICROTECH,
    fundamentada en los pilares de la divulgación y la investigación científico-tecnológica.
  <p>Apasionado de la programación, a la cual me dedico profesionalmente.</p>

  <a class="btn btn-primary bg-dark btn-lg m-2" href="https://github.com/endermejia" role="button">GitHub</a>
  <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/endermejia/" role="button">LinkedIn</a>
  <img class="m-2" src="../../../assets/amicrotech.jpg">
</div>
