<div class="jumbotron m-2">
  <h1 class="display-4">Status</h1>
  <p class="lead">Información básica Raspberry</p>
  <hr class="my-4">

  <div class="input-group mb-3">
    <div [ngClass]="{'alert-primary': message, 'alert-danger': !message}" role="alert" class= "alert">
      Last message received: {{message ? message : 'no message received'}}
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="alert alert-primary" role="alert">
      Listening in topic: {{topicCPU}}
    </div>
  </div>
</div>

