<div class="jumbotron m-2">
  <h1 class="display-4">Status</h1>
  <p class="lead">Información básica Raspberry</p>
  <hr class="my-4">

  <div class="input-group mb-3">
    <div [ngClass]="{'alert alert-primary': message, 'alert alert-danger': !message}" role="alert">
      Last message received: {{message ? message : 'no message received'}}
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="alert alert-primary" role="alert">
      Listening in topic: {{topicName}}
    </div>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Insert MQTT message"
           [(ngModel)]="msg" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="unsafePublish()">Send MQTT</button>
    </div>
  </div>
</div>
