<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="" style="font-family: Consolas">ctrlThings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/status">Status</a>
      </li>
      <li *ngIf="authService.loggedIn" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/control">Control</a>
      </li>
      <li *ngIf="authService.loggedIn" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/settings">Settings</a>
      </li>
      <li class="nav-tex">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
    </ul>

    <span class="navbar-text">
      <button *ngIf="!authService.loggedIn" (click)="authService.login()"
              class="btn btn-sm btn-outline-primary btn-lg" role="button">Login</button>
      <button *ngIf="authService.loggedIn" (click)="authService.logout()"
              class="btn btn-sm btn-outline-danger btn-lg" role="button">Logout</button>
      <img class="rounded-circle ml-2" style="width: 2em"
           *ngIf="authService.userProfile$ | async as profile"
           [src]=" profile.picture">
    </span>
  </div>
</nav>
